.home-container {
    height: 45vh;
    min-height: 100%;
}

.card-holder {
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.popular-card {
    height: 230px;
    width: 150px;
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
    background-size: cover;
}